.form-container {
      margin: auto;
      width: 70%;
      margin-top: 2rem;
  
    
}
form {
     width: 100%; 
}

.formControls {
    width: 100%;  
    margin: auto;
}

.formControls input {
      width: 100%;  
     padding: 0.5rem;

}

.formControls label {
      width: 100%; 
      display: inline-block;
      padding-bottom: 0.5rem;
 }


form .btn {
      width: 100%;  
      padding: 0.5rem;
      margin-top: 1rem;
      background-color: #008CBA;
      border: 0;
      border-radius: 3px;

  }

  .btn:focus {
outline: 0;
  }

  .btn:hover {
    
      transform: scale(0.99);
        }
      


